* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.title {
    font-size: 20px;
    font-weight: bold;
    font-family: "Inter";
}

.container {
    background-color: #1b6073;
    border-radius: 5px;
    padding: 20px 40px;
}

.box-produto {
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.box-produto:last-child {
    margin-bottom: 0;
}

.box-produto > img {
    width: 100%;
}

.box-produto .productName {
    font-size: 14px;
    font-weight: bold;
}

.box-produto.productPrice {
    color: #2c6b9e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
